@model hospital.webApp.Models.Transaccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompletoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompletoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFacturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFacturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalImporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalImporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransaccionConfirmada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransaccionConfirmada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
